* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #0b0b3c;
  background-color: #6fedb7;
  justify-content: space-between;
  align-items: center; }

.nav :hover, .logo :hover :hover {
  color: #3d1010;
  transform: scale(1.02);
  transition: 300ms; }

.logo :hover {
  transform: scale(1.05); }

.header a img {
  width: 160px; }

/* navs */
.bg-body-tertiary {
  background-color: #6fedb7 !important; }

.nav ul, .logo :hover ul {
  list-style: none;
  background-color: #6fedb7;
  width: 800px; }

.nav-link {
  text-decoration: none;
  color: #5b5bd7 !important;
  font-size: 20px;
  font-weight: bold;
  padding: 10px; }

.navbar-brand {
  color: #5b5bd7;
  font-weight: bold;
  font-size: 30px; }

#main-index {
  display: flex;
  min-height: 65vh;
  color: #3d1010;
  background-image: url(../recursos/Imagenbase.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

.seccion-1-main {
  background-color: rgba(150, 147, 147, 0.4); }

.col img {
  border-radius: 10%; }

#main-contacto {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: space-between;
  min-height: 65vh;
  color: #3d1010;
  background-image: linear-gradient(to top, #3e3939, #efe6e6); }

form {
  width: 300px;
  margin: 0 auto;
  color: #a1a1e6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.imput {
  margin: 10px;
  font-style: italic; }

.enviar {
  margin: 10px;
  font-weight: 500;
  color: #5b5bd7;
  background-color: #2dd881; }

#main-quienes-somos {
  min-height: 65vh;
  color: #3d1010;
  background-image: linear-gradient(to top, #3e3939, #efe6e6); }
  #main-quienes-somos h4 {
    padding: 8px; }

#main-profesionales {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: nowrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
  align-content: center;
  justify-content: space-evenly;
  flex-direction: row;
  min-height: 65vh;
  color: #3d1010;
  background-image: linear-gradient(to top, #3e3939, #efe6e6); }

#main-empresas {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: flex-end;
  padding: 8px;
  min-height: 65vh;
  color: #3d1010;
  background-image: linear-gradient(to top, #3e3939, #efe6e6); }

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #2dd881;
  min-height: 15vh; }

ul {
  margin: 10px;
  display: flex;
  list-style: none; }
  ul :hover {
    transform: scale(1.05);
    transition: 300ms; }

.red-social {
  width: 70px;
  height: 70px; }

/* typo */
@font-face {
  font-family: "Uni Sans Heavy Caps";
  src: url(../recursos/UniSansHeavy.otf); }

h1 {
  padding: 20px;
  font-family: "Uni Sans Heavy Caps"; }

h2 {
  padding: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

h3 {
  font-family: "Uni Sans Heavy Caps";
  padding: 5px; }

h4 {
  font-family: "Uni Sans Heavy Caps";
  padding: 5px;
  margin: 0px; }

/* typo y flex  empresas */
.section-empresas {
  display: flex;
  font-family: "Uni Sans Heavy Caps";
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: center; }

/* boton whatapp */
.boton-whatsapp {
  display: flex;
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 120px;
  height: 120px; }

.boton-whatsapp :hover {
  transform: scale(1.08);
  transition: 300ms; }

/* boton arriba */
.boton-arriba {
  margin: 10px;
  padding: 10px;
  text-align: right;
  color: white;
  background-color: #161817; }

/*Mobilelast - Max width*/
@media (max-width: 719px) {
  .header {
    flex-wrap: wrap;
    justify-content: safe;
    font-size: small; }
  .boton-whatsapp {
    width: 85px;
    height: 85px; } }
