@import '../utilities/variables';
@import '../utilities/mixins';
@import '../utilities/reset';
@import '../utilities/header';
@import '../utilities/mains';
@import '../utilities/footer';

/* typo */
@font-face {
    font-family: "Uni Sans Heavy Caps";
    src: url(../recursos/UniSansHeavy.otf);
}
h1 {
    padding: 20px;
    font-family: "Uni Sans Heavy Caps";
}
h2 {
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3 {
    font-family: "Uni Sans Heavy Caps";
    padding: 5px;
}
h4 {
    font-family: "Uni Sans Heavy Caps";
    padding: 5px;
    margin:0px;
}
/* typo y flex  empresas */
.section-empresas {
    display: flex;
    font-family: "Uni Sans Heavy Caps";
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
   }
 /* boton whatapp */
.boton-whatsapp  {
    display: flex;
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 120px;
    height: 120px;
    }
.boton-whatsapp :hover{
    transform: scale(1.08);
    transition: 300ms;
}
/* boton arriba */
.boton-arriba {
    margin: 10px;
    padding: 10px;
    text-align: right;
    color: white;
    background-color: rgb(60, 55, 55);
}
/*Mobilelast - Max width*/
@media (max-width: 719px) {
    .header {
        flex-wrap: wrap;
        justify-content: safe;
        font-size: small;
    }
    .header a img {
        width: 70px;
    }

    .nav ul {
        align-items: normal;
        display: list-item;
        max-width: 45vh;
        margin:0px
    }
}