.header {
     display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    background-color: $fondo-header;
   /*  justify-content: space-between;
    align-items: center; */
}

.nav :hover {
    color: rgb(61, 16, 16);
    transform: scale(1.02);
    transition: 300ms;
}
.navbar-brand :hover {
    @extend .nav;
    transform: scale(1.05);
}
.header a img {
    width: 160px;
}

/* navs */
.bg-body-tertiary{
    background-color: $fondo-header !important;

}

.nav ul {
    list-style: none;
    background-color: $fondo-header;
    width: 800px;
}
.nav-link {
    text-decoration: none;
    color: $texto-header !important;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}
.navbar-brand{
    color: $texto-header;
    font-weight: bold;
    font-size: 30px;
}