#main-index {
    display: flex;
    min-height: 65vh;
    color: rgb(61, 16, 16);
    background-image: url(../recursos/Imagenbase.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#main-contacto {
    display: flex;
    min-height: 65vh;
    color: rgb(61, 16, 16);
    background-image: $fondo-main;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: space-between;
}
    form {
    width: 300px;
    margin: 0 auto;
    color:rgb(161, 161, 230);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
 }
    .imput {
    margin: 10px;
    font-style: italic;
 }
    .enviar{
    margin: 10px;
    font-weight: 500;
    color:  rgb(91, 91, 215);
    background-color: rgb(45, 216, 129);
 }
     
      
#main-quienes-somos {
    min-height: 65vh;
    color: rgb(61, 16, 16);
    background-image:$fondo-main;
}

#main-profesionales {
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 65vh;
    color: rgb(61, 16, 16);
    background-image:$fondo-main;
}

#main-empresas {
    display: flex;
    min-height: 65vh;
    color: rgb(61, 16, 16);
    background-image: $fondo-main;
    flex-direction: row;
    align-items: center;
    align-content: flex-end;
}